pandas
numpy
seaborn
matplotlib
ipykernel
ydata-profiling
tensorflow
keras
sqlalchemy
scikit-learn
transformers
nltk
opencv-python
plotly

transformers
ipykernel
huggingface_hub
ipywidgets
datasets
pipeline
scikit-learn
torch
pillow
opencv-python